<div class="flex justify-center h-full items-center">
  <div class="bg-gray-900 text-white p-10 md:w-1/2 w-full rounded-xl">
    <div class="text-xl mx-2 font-bold">Kayıt Ol</div>
    <div *ngIf="error"
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
    role="alert">
    <strong class="font-bold">{{ error }}</strong>
  </div>
  <div class="register-form">
    <form  [formGroup]="form" class="flex flex-col min-h-[400px] justify-around" (ngSubmit)="onSubmit()">
      <div class="form-group flex flex-col">
        <label  class="mx-2 text-lg font-medium">Username</label>
        <input
          type="text"
          formControlName="user_name"
          class="form-control p-2 rounded-md mx-2 text-black"
          [ngClass]="{ 'is-invalid': submitted && f['user_name'].errors }"
        />
        <div 
        *ngIf="submitted && f['user_name'].errors" class="invalid-feedback"
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mx-2 rounded relative "
        role="alert">
        <strong *ngIf="f['user_name'].errors['required']" class="font-bold  ">Username is required</strong>
        <strong *ngIf="f['user_name'].errors['minlength']" class="font-bold  ">Username must be at least 6 characters</strong>
        <strong *ngIf="f['user_name'].errors['maxlength']" class="font-bold  ">Username must not exceed 20 characters</strong>
      </div>
      </div>
      <div class="form-group flex flex-col"  >
        <label  class="mx-2 text-lg font-medium">Full Name</label>
        <input
          type="text"
          formControlName="full_name"
          class="form-control p-2 rounded-md mx-2 text-black"
          [ngClass]="{ 'is-invalid': submitted && f['full_name'].errors }"
        />
        <div
        *ngIf="submitted && f['full_name'].errors" class="invalid-feedback"
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mx-2 rounded relative "
        role="alert">
        <strong *ngIf="f['full_name'].errors['required']" class="font-bold  ">Fullname is required</strong>
      </div>
        <div >
        </div>
      </div>
      <div class="form-group flex flex-col">
        <label  class="mx-2 text-lg font-medium">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control p-2 rounded-md mx-2 text-black"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div 
        *ngIf="submitted && f['password'].errors" class="invalid-feedback"
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mx-2 rounded relative "
        role="alert">
        <strong *ngIf="f['password'].errors['required']" class="font-bold  ">Password is required</strong>
        <strong *ngIf="f['password'].errors['minlength']" class="font-bold  ">Password must be at least 6 characters</strong>
        <strong *ngIf="f['password'].errors['maxlength']" class="font-bold  ">Password must not exceed 20 characters</strong>
      </div>
       
      </div>
      <div class="form-group flex flex-col">
        <label  class="mx-2 text-lg font-medium">Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control p-2 rounded-md mx-2 text-black"
          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
        />
        <div 
        *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback"
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 mx-2 rounded relative "
        role="alert">
        <strong *ngIf="f['confirmPassword'].errors['required']" class="font-bold  ">Confirm Password is required</strong>
        <strong *ngIf="f['confirmPassword'].errors['matching']" class="font-bold  ">Confirm Password does not match</strong>
      </div>
      
      </div>
      <div class="form-group mx-2 ">
          <button 
            class="bg-green-800 w-full text-lg py-3 text-white rounded-lg"
            type="submit"
          >
            Kayıt Ol
          </button>
      </div>
    </form>
  </div>
  </div>
  
</div>